/build/
/debug/

/graphviz/*
!/graphviz
!/graphviz/**.sh

.vs/
.vscode/

.DS_Store
**/.DS_Store

/examples/build
/volatile/
/stdlib/build

Makefile
**/Makefile
**.make

**.xcworkspace
**.xcodeproj

**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.sln

.cproject
.project
.settings/
