[submodule "external/utility"]
	path = external/utility
	url = https://github.com/chrysante/utility
[submodule "external/termfmt"]
	path = external/termfmt
	url = https://github.com/chrysante/termfmt
[submodule "external/APMath"]
	path = external/APMath
	url = https://github.com/chrysante/APMath
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/chrysante/range-v3
[submodule "external/graphgen"]
	path = external/graphgen
	url = https://github.com/chrysante/graphgen
[submodule "external/FTXUI"]
	path = external/FTXUI
	url = https://github.com/chrysante/FTXUI
[submodule "external/nlohmann/json"]
	path = external/nlohmann/json
	url = https://github.com/nlohmann/json
[submodule "external/Catch"]
	path = external/Catch
	url = https://github.com/catchorg/Catch2/
[submodule "external/libarchive"]
	path = external/libarchive
	url = https://github.com/chrysante/libarchive
