build/
debug/

/graphviz/*
!graphviz/
!graphviz/**.sh

.vs/
.vscode/

.DS_Store
**/.DS_Store

examples/
!examples/**.sc
!examples/**.scir
!examples/**.cpp
volatile/
stdlib/build/

Makefile
**/Makefile
**.make

**.xcworkspace
**.xcodeproj

**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.sln

cmake-build-debug
CMakeLists.txt
**.cmake

.cproject
.project
.settings/
