[submodule "external/utility"]
	path = external/utility
	url = https://github.com/chrysante/utility
[submodule "external/gmp"]
	path = external/gmp
	url = https://github.com/chrysante/GMP
[submodule "external/termfmt"]
	path = external/termfmt
	url = https://github.com/chrysante/termfmt
